<div class="search-template" ng-controller="SearchController">
  
  <div name="searchBar">
    <form name="searchForm" class="search-bar">
      <input name="search">
      <button type="submit" ng-click="search()" class="button">Search</button>  
    </form>
  </div>

  <div></div>

</div>
  







  <!-- <form name='searchForm' ng-submit="search()">
    <input name='name' type="url"
      ng-model="link.url"
      placeholder="Enter your url here" required
      ng-class="{'error': shortlyForm.$invalid && shortlyForm.$dirty}"/>

    <button type="submit" value="Shorten" ng-disabled='shortlyForm.$invalid'>
      add
    </button>
  </form> -->