body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.searchcontainer {
  /*margin-top: 50px;*/
  padding-top: 30px;
  padding-bottom: 30px;
}

.userinfo {
  /*background-color: #eee;*/
  font-size: 0.9em;
  margin-left: 10px;
  line-height: 70%
}

.userphotobox {
  margin: 10px auto;
  width: 200px;
  height: 200px;

  /*background-color: #aaa;*/
}

.userinfobox {
  margin: 10px auto;
  padding-left: 20px;
  /*background-color: #bbb;*/
}

.userphoto {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.dropdownbox {
  margin: 10px auto;
  /*width: 600px;*/
  /*display: float;*/
  float: right;
  /*position: relative;*/
}

.dropdownunit {
  margin-right: 50px;
  float: right;
  /*position: absolute;*/
}