<nav class="navbar navbar-default navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/search">Dvelop.io</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        <li><a href="#/signup">Profile</a></li>
        <li><a href="#/search">Search</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-click="search.logout()"><a href="#">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  


  <div class='container searchcontainer' align="center">
    <div class="row">
      <div class="col-md-6 col-md-offset-4">
        <form name="searchForm" class="search-bar form-inline" action="/#/community">
          <div class="form-group col-lg-8">
            <input class="form-control" name="search" ng-model="search.input" placeholder="Search...">
          </div>
          <!-- <button type="submit" class="btn btn-primary">Search</button> -->
        </form>
      </div>
      <div class="col-md-2">
        <!-- <button ng-click="search.logout()" type="button" class="btn btn-primary">Logout</button> -->
      </div>
    </div>
  </div>
</div>

<div class="dropdown-container" align="center">
        <label>Professional Level: </label>
          <select ng-model="search.level">
            <option value="">Professional Level </option>
            <option value="Advanced">Advanced</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Novice">Novice</option>
          </select>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12" >
      <div class="row-fluid" >
        <div class="col-md-3" ng-repeat="user in search.users | filter: search.input | filter: search.level">
          <div class="userinfo">
            <div class="userphotobox">
              <img class="userphoto" src="{{ user.profileImageUrl }}">
            </div>
            <p class="userinfobox">Name: {{user.displayName}}</p>
            <p class="userinfobox">Location: {{user.address}}</p>
            <p class="userinfobox">Skill Level: {{user.professionalLevel}}</p>
            <p class="userinfobox">Best at: {{user.bestAt}}</p>
            <p class="userinfobox">Available for Mentor: {{user.mentorAvail}}</p>
            <p class="userinfobox">Tech Skill: {{user.techSkill}}</p>
            <p class="userinfobox">Help Skill: {{user.helpAvail}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


